bin
obj
csx
.vs
edge
Publish

*.user
*.suo
*.cscfg
*.Cache
project.lock.json

yarn-debug.log*
yarn-error.log*

/packages
/TestResults

dist/

.idea/*
!.idea/codeStyles
.env

/tools/NuGet.exe
/App_Data
/secrets
/data
.secrets
appsettings.json
local.settings.json
local.settings.dev.json

node_modules
.vscode/settings.json
