{
  "IsEncrypted": false,
  "Values": {
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "Azure.ConnectionString": "",
    "AzureWebJobsStorage": "",
    "ChunkSize": 10,
    "EventGrid.Notification.Endpoint": "",
    "EventGrid.Notification.Key": "",
    "KC.ContentManagementApiKey": "",
    "KC.ProjectId": "",
    "KC.Step.ArchivedId": "",
    "KC.Step.CopywritingId": "",
    "KC.Step.PublishedId": ""
  }
}
